---
- name: Deploy Attesattion Proxy to K3s
  block:
    - name: Copy manfiest files
      ansible.builtin.template:
        src: "proxy-manifests.yaml.j2"
        dest: /var/lib/rancher/k3s/server/manifests/proxy-manifests.yaml
        owner: root
        group: root
        mode: '0600'
      notify: restart k3s

    - name: Protect webhook manifest from modifications
      ansible.builtin.file:
        path: /var/lib/rancher/k3s/server/manifests/proxy-manifests.yaml
        owner: root
        group: root
        mode: '0400'
        attributes: '+i'

    # Ensure namespace exists
    - name: Create Kubernetes namespace
      kubernetes.core.k8s:
        name: attestation-system
        api_version: v1
        kind: Namespace
        state: present
