---
- name: Create attestation service scripts directory
  ansible.builtin.file:
    path: /etc/attestation-service/scripts
    state: directory
    owner: tdx-attest
    group: tdx-attest
    mode: '0755'

- name: Copy environment setup script
  ansible.builtin.copy:
    src: service-init/setup-environment.sh
    dest: /etc/attestation-service/scripts/setup-environment.sh
    owner: tdx-attest
    group: tdx-attest
    mode: '0755'
    backup: yes

- name: Copy TLS certificate setup script
  ansible.builtin.copy:
    src: service-init/setup-tls-certs.sh
    dest: /etc/attestation-service/scripts/setup-tls-certs.sh
    owner: tdx-attest
    group: tdx-attest
    mode: '0755'
    backup: yes

- name: Create attestation service init systemd unit
  ansible.builtin.copy:
    src: attestation-service-init.service
    dest: /etc/systemd/system/attestation-service-init.service
    owner: root
    group: root
    mode: '0644'
    backup: yes

- name: Enable attestation service init
  ansible.builtin.systemd:
    name: attestation-service-init.service
    enabled: yes
    state: stopped  # Don't start yet, let the main service trigger it