# Attestation Service Environment Configuration
# This file is managed by Ansible
HOSTNAME={{ inventory_hostname }} # Managed by ansible

# Server Configuration
UDS_PATH=/run/attestation-service/attestation.sock
