[Unit]
Description=Run Module Monitor Every 10 Minutes
Requires=module-monitor.service

[Timer]
OnBootSec=5min
OnUnitActiveSec=10min
RandomizedDelaySec=30

[Install]
WantedBy=timers.target