---
- name: Install OPA binary
  ansible.builtin.include_tasks: install-opa.yml
  tags: install-opa

- name: Install Cosign
  ansible.builtin.include_tasks: install-cosign.yml
  tags: install-cosign

- name: Install and setup admission controller
  ansible.builtin.include_tasks: install-admission-controller.yml
  tags: admission-install

- name: Setup TLS certificates
  ansible.builtin.include_tasks: setup-tls.yml
  tags: tls-setup

- name: Deploy OPA policies
  ansible.builtin.include_tasks: deploy-policies.yml
  tags: policies

- name: Configure OPA service
  ansible.builtin.include_tasks: configure-opa-service.yml
  tags: opa-service

- name: Configure admission controller service
  ansible.builtin.include_tasks: configure-admission-service.yml
  tags: admission-service

- name: Configure K3s webhook
  ansible.builtin.include_tasks: configure-k3s-webhook.yml
  tags: k3s-webhook

- name: Configure cosign
  ansible.builtin.include_tasks: configure-cosign.yml
  tags: cosign

- name: Secure webhook
  ansible.builtin.include_tasks: deploy-vap.yml
  tags: admission-policies
