---
- name: Run TDX guest image
  hosts: host
  become: true
  tags:
    - run-vm
    - always
  handlers:
    - name: Global handlers
      ansible.builtin.import_tasks: "{{ playbook_dir }}/../handlers/main.yml"
  tasks:
    - name: Include run TDX vm role
      ansible.builtin.include_role:
        name: run-vm

- name: Setup TDX guest image
  hosts: vm
  become: true
  tags:
    - setup-vm
  handlers:
    - name: Global handlers
      ansible.builtin.import_tasks: "{{ playbook_dir }}/../handlers/main.yml"
  tasks:
    - name: Include TDX vm setup role 
      ansible.builtin.include_role:
        name: setup-vm

- name: Common Setup
  hosts: vm
  become: true
  tags:
    - common
  handlers:
    - name: Global handlers
      ansible.builtin.import_tasks: "{{ playbook_dir }}/../handlers/main.yml"
  tasks:
    - name: Include common role
      ansible.builtin.include_role:
        name: common

- name: Setup K3S clusters
  hosts: vm
  become: true
  tags:
    - k3s
  handlers:
    - name: Global handlers
      ansible.builtin.import_tasks: "{{ playbook_dir }}/../handlers/main.yml"
  tasks:
    - name: Include k3s role
      ansible.builtin.include_role:
        name: k3s

- name: Security Hardening
  hosts: vm
  become: true
  tags:
    - security
  handlers:
    - name: Global handlers
      ansible.builtin.import_tasks: "{{ playbook_dir }}/../handlers/main.yml"
  tasks:
    - name: Include security role
      ansible.builtin.include_role:
        name: security

- name: GPU Setup
  hosts: vm
  become: true
  tags:
    - gpu
  handlers:
    - name: Global handlers
      ansible.builtin.import_tasks: "{{ playbook_dir }}/../handlers/main.yml"
  tasks:
    - name: Include gpu role
      ansible.builtin.include_role:
        name: gpu

- name: Setup Chutes GPU Clusters
  hosts: vm
  become: true
  tags:
    - chutes-gpu
  handlers:
    - name: Global handlers
      ansible.builtin.import_tasks: "{{ playbook_dir }}/../handlers/main.yml"
  tasks:
    - name: Setup GPU Node
      ansible.builtin.include_role:
        name: chutes-gpu
        apply:
          tags: chutes-gpu

- name: Setup admission controller
  hosts: vm
  become: true
  tags:
    - admission-controller
  handlers:
    - name: Global handlers
      ansible.builtin.import_tasks: "{{ playbook_dir }}/../handlers/main.yml"
  tasks:
    - name: Admission controller
      ansible.builtin.include_role:
        name: admission-controller
        apply:
          tags: admission-controller

- name: Cleanup to ensure fresh state for cloud init and k3s
  hosts: all
  become: true
  tags:
    - cleanup
  handlers:
    - name: Global handlers
      ansible.builtin.import_tasks: "{{ playbook_dir }}/../handlers/main.yml"
  tasks:
    - name: Cleanup
      ansible.builtin.include_role:
        name: cleanup
        apply:
          tags: cleanup

- name: Encrypt disk
  hosts: host
  become: true
  tags:
    - luks
  handlers:
    - name: Global handlers
      ansible.builtin.import_tasks: "{{ playbook_dir }}/../handlers/main.yml"
  tasks:
    - name: Encrypt disk
      ansible.builtin.include_role:
        name: luks
        apply:
          tags: luks