apiVersion: constraints.gatekeeper.sh/v1beta1
kind: ProtectWebhooks
metadata:
  name: protect-admission-webhook
spec:
  match:
    kinds:
      - apiGroups: ["admissionregistration.k8s.io"]
        kinds: ["ValidatingWebhookConfiguration", "MutatingWebhookConfiguration"]
  parameters:
    protectedWebhooks:
      - "admission-controller-webhook"
      - "gatekeeper-validating-webhook-configuration"
      - "gatekeeper-mutating-webhook-configuration"
    allowedUsers:
      - "system:admin"
      - "system:masters"