apiVersion: constraints.gatekeeper.sh/v1beta1
kind: ProtectGatekeeper
metadata:
  name: protect-gatekeeper-resources
spec:
  match:
    kinds:
      - apiGroups: ["templates.gatekeeper.sh"]
        kinds: ["ConstraintTemplate"]
      - apiGroups: ["constraints.gatekeeper.sh"]
        kinds: ["*"]
      - apiGroups: ["config.gatekeeper.sh"]
        kinds: ["Config"]
      - apiGroups: ["apps"]
        kinds: ["Deployment"]
      - apiGroups: [""]
        kinds: ["Service", "ConfigMap", "Secret"]
  parameters:
    allowedUsers:
      - "system:admin"
      - "system:masters"