---
# This role just creates the service - cleanup role adds the dependency

- name: Create k3s-config-init script
  ansible.builtin.copy:
    src: files/k3s-config-init.sh
    dest: /usr/local/bin/k3s-config-init.sh
    owner: root
    group: root
    mode: '0755'

- name: Create k3s-config-init systemd service
  ansible.builtin.copy:
    src: files/k3s-config-init.service
    dest: /etc/systemd/system/k3s-config-init.service
    owner: root
    group: root
    mode: '0644'

# DON'T create the dependency file here - cleanup role will add it
# This allows k3s to run normally during the build

- name: Reload systemd daemon
  ansible.builtin.systemd:
    daemon_reload: yes

# Keep service disabled for build, cleanup will enable for first boot
- name: Disable k3s-config-init service
  ansible.builtin.systemd:
    name: k3s-config-init
    enabled: no
    state: stopped