---
- name: Ensure chutes namespace exists
  vars:
    namespaces:
      - chutes
      - monitoring
  block:
    - name: Ensure namespace exists for control plane
      kubernetes.core.k8s:
        api_version: v1
        kind: Namespace
        name: "{{ item }}"
        state: present
      loop: "{{ namespaces }}"