---
# This role just creates the service - cleanup role adds the dependency

- name: Create k3s-init script
  ansible.builtin.copy:
    src: files/k3s-init.sh
    dest: /usr/local/bin/k3s-init.sh
    owner: root
    group: root
    mode: '0755'

- name: Create k3s-init systemd service
  ansible.builtin.copy:
    src: files/k3s-init.service
    dest: /etc/systemd/system/k3s-init.service
    owner: root
    group: root
    mode: '0644'

# DON'T create the dependency file here - cleanup role will add it
# This allows k3s to run normally during the build

- name: Reload systemd daemon
  ansible.builtin.systemd:
    daemon_reload: yes

# Don't enable k3s-init yet - cleanup role will do this