---
# inventory.yml
all:
  children:
    server:
      hosts:
        localhost:
          ansible_connection: local
          ansible_python_interpreter: "{{ ansible_playbook_python }}"

  vars:
    ansible_user: "{{ lookup('env', 'USER') }}"
    cosign_public_key_path: "/path/to/cosign.pub"