[Unit]
Description=Initialize k3s Configuration
Before=k3s.service
After=network-online.target cloud-init.service admission-controller.service
Wants=network-online.target
Requires=admission-controller.service
# Don't block cloud-init from finishing
Before=cloud-final.service
ConditionPathExists=!/var/lib/rancher/k3s/.initialized

[Service]
Type=notify
NotifyAccess=all
RemainAfterExit=yes
ExecStart=/usr/local/bin/k3s-init.sh
StandardOutput=journal
StandardError=journal
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
RequiredBy=k3s.service