[Unit]
Description=Initialize k3s Configuration
After=network-online.target
After=config-manager.service
Wants=config-manager.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/k3s-config-init.sh
StandardOutput=journal+console
StandardError=journal+console
TimeoutStartSec=300

[Install]
