---
- name: Monitoring setup
  tags: monitoring
  block:
    - name: Add Prometheus Community Helm repository
      kubernetes.core.helm_repository:
        name: prometheus-community
        repo_url: https://prometheus-community.github.io/helm-charts

    - name: Add Metrics Server Helm repository
      kubernetes.core.helm_repository:
        name: metrics-server
        repo_url: https://kubernetes-sigs.github.io/metrics-server/

    - name: Add Kubernetes Dashboard Helm repository
      kubernetes.core.helm_repository:
        name: kubernetes-dashboard
        repo_url: https://kubernetes.github.io/dashboard/

    - name: Update Helm repositories
      shell: helm repo update

    - name: Install Prometheus
      shell: |
        helm upgrade --install prometheus prometheus-community/prometheus \
          --namespace chutes \
          --create-namespace \
          --set server.persistentVolume.enabled=false \
          --set alertmanager.persistentVolume.enabled=false \
          --set prometheus-pushgateway.persistentVolume.enabled=false \
          --set prometheus-server.persistentVolume.enabled=false \
          --set alertmanager.persistence.enabled=false \
          --set server.nodeSelector."kubernetes\.io/hostname"={{ ansible_hostname }} \
          --set alertmanager.nodeSelector."kubernetes\.io/hostname"={{ ansible_hostname }} \
          --set pushgateway.nodeSelector."kubernetes\.io/hostname"={{ ansible_hostname }} \
          --set kubeStateMetrics.nodeSelector."kubernetes\.io/hostname"={{ ansible_hostname }}

    - name: Install kubernetes dashboard
      shell: |
        helm upgrade --install kubernetes-dashboard kubernetes-dashboard/kubernetes-dashboard \
          --create-namespace \
          --namespace kubernetes-dashboard \
          --set app.scheduling.nodeSelector."kubernetes\.io/hostname"={{ ansible_hostname }} \
          --set auth.nodeSelector."kubernetes\.io/hostname"={{ ansible_hostname }} \
          --set api.nodeSelector."kubernetes\.io/hostname"={{ ansible_hostname }} \
          --set web.nodeSelector."kubernetes\.io/hostname"={{ ansible_hostname }} \
          --set metricsScraper.nodeSelector."kubernetes\.io/hostname"={{ ansible_hostname }} \
          --set kong.nodeSelector."kubernetes\.io/hostname"={{ ansible_hostname }} \
          --set persistence.enabled=false
