[Unit]
Description=Seed containerd data into cache volume
Documentation=man:systemd.service(5)
Requires=var-snap.mount
After=var-snap.mount
Before=var-lib-rancher-k3s-agent-containerd.mount

[Service]
Type=oneshot
ExecStart=/usr/local/bin/seed-containerd-cache.sh
RemainAfterExit=yes

[Install]
WantedBy=local-fs.target
