[Unit]
Description=Bind mount containerd data onto cache volume
Documentation=man:systemd.mount(5)
Requires=var-snap.mount
After=var-snap.mount
Requires=seed-containerd-cache.service
After=seed-containerd-cache.service
Before=k3s.service
Before=k3s-agent.service

[Mount]
What=/var/snap/containerd
Where=/var/lib/rancher/k3s/agent/containerd
Type=none
Options=rbind
DirectoryMode=0755

[Install]
WantedBy=local-fs.target
